*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    font-family: "Josefin Sans",'Courier New', Courier, monospace;
}

h1{
    line-height: 60px;
    letter-spacing: 12px;
    font-size: 56px;
    font-weight:200;
}

p{
    margin: 20px 0;
    line-height: 26px;
}

strong{
    font-weight: 600;
    color: black;
}

main{
    display: flex;
}

.ct_sx_up{
    background-color: rgb(199, 139, 50);
    height: 20vh;
    width: 100%;
}

.ct{
    width: 110%;
}

.ct_dx{
    background-image: url(../img/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:60%;
}

.ct_sx_down{
    height: 80vh;
    width: 100%; 
    padding: 50px 212px;   
}

input{
    color: hsl(0, 36%, 70%);;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    padding: 15px 20px;
    width: 100%;
    
}
